textaria {
	color: #000;
    font-size: 20px;
    display: block;
    padding: 7px;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 10px;
}

.collection {
  border: none;
}

.collection .collection-item {
  background-color: #e3f2fd;
  border-radius: 3px;
}

.item-text {
  font-size: 20px;
  word-wrap: break-word;
}

.item {
  min-height: 34px;
}

#chat-list:empty:after {
  content: 'Чат пока пуст...';
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 15px 0 0;
}

.container .section > div:first-child {
    max-height: 650px;
    overflow-y: scroll;
}

.section .footer input[type="text"] {
    padding: 0 .75rem;
	border: 1px solid #0d47a1;
	border-radius: 2px;
	box-sizing: border-box;
}



.row.footer .btn-large.col {
    height: 43px;
    line-height: 43px;
    margin-top: -1px;
}

.item-btn-edit img {
    margin-top: 6px;
}

.row.footer .col {
    height: 40px;
}

#text {
    min-height: 5rem;
    margin-bottom: 10px;
    border-color: #0d47a1;
    border-radius: 2px;
	padding: .75rem;
	resize: none;
}

.darkBackground {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0,0,0, 0.8);
}

.container .darkBackground div {
  position: fixed;
  padding: 0.75rem;
  margin-top: 10%;
}

.container .darkBackground input[type=text]#editor {
  border-radius: 2px;
  text-align: center;
  word-wrap: break-word;
}

.row .col.push-s0 {
    float: right;
}

.row.item {
    margin: 0;
}

.row.item .col {
    padding: 0;
}

.row.item .col.s2 {
    text-align: right;
}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ color: #0d47a1; }
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder{ color: #0d47a1; }
input[type="text"]::-ms-input-placeholder, textarea::-ms-input-placeholder{ color: #0d47a1; }
input[type="text"]::placeholder, textarea::placeholder{ color: #0d47a1; }
