body {
    background: #e2e2e2;
}

.wrapper {
    width: 710px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
}

.clear {
    clear:both;
}

.block {
    border: 1px solid #e6e6e6;
    margin: 10px 0;
}

#sidebar {
	margin: 10px 0;
    padding: 10px;
}

#sidebar > div {
	min-width: 240px;
	min-height: 6.5em;
    margin: 10px auto;
    padding: 3%;
    border: 1px solid #e6e6e6;
}

#sidebar > div:nth-child(6),#sidebar > div:nth-child(7) {
    width: 64%;
	min-width: 240px;
    border: 2px solid #e6e6e6;
}

#sidebar > div:nth-child(6) > div,#sidebar > div:nth-child(7) > div {
	width: 100%;
    text-align:center;
}

#sidebar > div p{
	text-align:center;
	margin:0;
}

#sidebar input {
	display: inline-block;
}

#sidebar div:nth-child(5) input:nth-child(7),#sidebar div:nth-child(6) input:nth-child(9),#sidebar div:nth-child(7) input:nth-child(11) {
    margin-left: 5px;
}

#sidebar div:nth-child(7) input:nth-child(8) {
    margin-left: 162px;
}

#sidebar > div > div {
    width: 240px;
    margin: auto;
}

#sidebar > div > div:nth-child(2) {
    width: 100%;
    margin: 0;
    text-align: center;
}

#firstValueFive, #secondValueFive, #firstValueSix, #secondValueSix{
	width: 125px;
}

label {
	display: block;
	text-align: center;
	cursor: pointer;
	background-color: buttonface;
	-webkit-appearance: button;
}

input{display:none;}

input:checked+#sidebar{display:none;}
