#calculator {
    width: 300px;
    margin: auto;
}

#calculator span, #calculator input[type=text] {
    cursor: default;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    -webkit-appearance: button;
}

.section #calculator input[type=text] {
    border: 1px solid #969696;
	width: 286px;
    background: #e5e5e5;
    text-align: right;
    font-size: 30px;
    color: #2a2a2a;
}

.section #calculator input:-webkit-autofill {
    color: #333333 !important;
	outline: none;
}

#calculator span {
    width: 58px;
    margin: 2px 2px 2px 0;
}

#calculator .button15 {
    width: 116px;
}

#calculator .button14 {
    height: 66px;
    float: right;
    margin: 2px 2px 0 0;
	padding-top: 18px;
}