.collection {
  border: none;
}

.collection .collection-item {
  background-color: #ffa726;
  border-radius: 3px;
}

.item-text {
  font-size: 20px;
}

.item {
  min-height: 34px;
}

.filter {
	font-size: 20px;
	font-weight:bold;
}

.container .filter input {
	border: 1px solid #9e9e9e;
    padding: 10px;
	width: 300px;
    height: 1rem;
}

input::placeholder {color:#9e9e9e;}

.filter div {
	display:inline-block;
}

.filter div:first-child {
	width:140px;
}

#todo-list:empty:after {
  content: 'Добавьте новую задачу...';
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 15px 0 0;
}

#completed-list:empty:after {
  content: 'Ожидание выполненных задач...';
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  margin: 15px 0 0;
}

#clearFilter {
    margin: -3px 0 0 25px;
}