body {
    background: #e2e2e2;
}

.wrapper {
    width: 710px;
    margin: 0 auto;
    background: #fff;
    padding: 30px 80px 10px 40px;
}

h1 {
    margin: 0;
}

p {
    margin: 5px 0;
    font-size: 20px;
}

.border {
    border-bottom: 3px solid #000;
    margin: 20px 0 10px;
}

.content {
    padding: 10px 0 0;
}

.info {
    width: 500px;
}

.info > div {
    float: left;
    border-bottom: 1px dotted #000;
    padding: 6px 0;
}

.info > div > div {
    width: 240px;
	font-weight: bold;
    float: left;
    padding-left: 10px;
}

.foto {
    float: right;
}

.mainInfo {
    padding: 10px 10px 0;
}

.mainInfo string {
    font-weight: bold;
    padding-top: 5px;
    display: block;
}

.mainInfo > div {
    margin-top: 10px;
}

.mainInfo > div > div {
    max-width: 480px;
}

.mainInfo > div > div:first-child {
	width: 200px;
	min-height: 10px;
	color: #ababab;
	font-weight: bold;
	font-size: 22px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.end {
    margin: 5px 0;
}